:root{
    --gray1 : #333333;
    --gray2 : #4f4f4f;
    --gray3 : #828282;
    --gray6 : #f2f2f2;
    --blue : #2962FF;
    --red : #D32F2F;
}

*{box-sizing: border-box;}
html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    padding: 2vh 10vw;
}
.input-container{
    display: inline-flex; 
    flex-direction: column;
}
.input-label{
    font-size: 12px;
    color: var(--gray1);
    font-weight: 400;
}
.input-group{
    position: relative;
    display: flex;
    align-items: center;
}
.input-icon{
    position: absolute;
    padding: 0.43rem;
    color: var(--gray3);
}
.input-icon-right{
    right: 0;
}
.input-tag{
    color: var(--gray3);
    font-size: 14px;
    font-weight: 500;
    padding: 0.53rem;
    border-radius: 6px;
    border: 1px solid var(--gray3);
    margin: 5px 0;
}
.input-helper-text{
    font-size: 10px;
    color: var(--gray3);
}
.pl-2{padding-left: 2.2rem;}
.pr-2{padding-right: 2.2rem;}
.sm{padding: 0.35rem;}
.lg{padding: 0.73rem;}
/*Hover*/
.input-tag:hover:not(:disabled){
    border: 1px solid var(--gray1) !important;
}
/*focus normal*/
.input-tag:focus:not(:disabled){
    outline: none;
    border: 1px solid var(--blue);
}
.focused-normal{
    color: var(--blue);
}
/*error*/
.input-container[data-error="true"] .input-tag{
    border: 1px solid var(--red);
}
.input-container[data-error="true"] .input-label{
    color: var(--red) !important;
}
.input-container[data-error="true"] .input-helper-text{
    color: var(--red) !important;
}
/*disable*/
.input-tag:disabled{
    border: 1px solid #e0e0e0;
    background-color: var(--gray6);
}